.buttonNormal {
    -fx-background-radius: 7;
    -fx-background-insets: 0;
    -fx-background-color: white;
    -fx-text-fill: #000000a9;
}

.buttonSelected {
    -fx-background-radius: 7;
    -fx-background-insets: 0;
    -fx-background-color:  #45BCFA;
    -fx-text-fill: white;
}